.navbar-brand{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 26px;
}


.navbar-nav .nav-link {
    padding: 8px 20px;
    transition: all 0.3s ease;
}

.navbar-nav .nav-link:hover {
    transform: scale(1.1);
    color: #ff6600;
    text-decoration: underline;
}

.navbar-nav .nav-link.active {
    font-weight: bold;
    text-decoration: underline;
}

.navbar-nav .nav-link::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background-color: #ff6600;
    transition: width 0.5s;
}

.navbar-nav .nav-link:hover::after {
    width: 100%;
}

.navbar-nav .nav-link.active::after {
    width: 100%;
}

.navbar-nav {
    margin-right: auto;
}

.navbar-nav .nav-item {
    margin-right: 10px;
}